html
{
  font-size: 10px;
  font-family: Sans-serif
}

p
{
  font-size: 20px;
  text-align: center;
}

h1
{
  text-align: center;
  font-family: 'billabong';
  font-weight: 100;
  font-size: 13rem;
  color: black;
  margin : 2rem 0;
  letter-spacing: -1px;
}

@font-face {
    font-family: 'billabong';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.photoGrid
{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.figure
{
  border: 1px solid #d3d3d3;
  max-width: 300px;
  padding-left: 40px;

  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}

.photo
{
  width: 100%;
  height: 300px;
  margin: 0rem 0rem -2rem 0rem;

}

.button-container
{
    display: flex;
    justify-content: center;
}

button
{
  flex-basis: 40%;
  color: red;
  border: 2px solid #f2f2f2;
  background-color: white;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 5px
}

.addIcon
{
  margin: 25px auto;
  display: table;
  padding : 35px;
  background: url(https://image.flaticon.com/icons/png/512/246/246221.png);
  background-size: contain;
  border: none
}

.form
{
  background-color: white;
  max-width: 400px;
  text-align: center;
  padding: 40px;
  margin: 0 auto;
}

.form input
{
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px 0px 20px;
}

.form button
{
  width: 100%;
  background-color: #065784;
  text-transform: uppercase;
  color: white;
  padding: 7px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover
{
  background-color: grey;
}

button:hover
{
  border-color: blue;
}
.single-photo
{
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-right: 150px;
  border: 1px solid black;

}

.Comments
{
  max-width: 130px;
}

.Comments input
{
  width: 250px;
  border: none;
  background-color: white;
  border-bottom:  1px dotted grey;
  margin: 10px 5px 0px;
}
.Comments input:hover
{
  cursor: pointer;
  border: 1px dotted grey;
}

.paragraph
{
  text-align: left;
  font-size: 15px;
  font-family: Sans-serif;
  border-bottom:  1px dotted grey;
}
